@font-face {
    font-family: "yekan";
    src: url(./Fonts/Yekan.ttf) format("truetype");
}
body {
    padding: 0;
    margin: 0;
    background-color: #3f007f;
    font-family: yekan;
}
.header {
    border-top: 4px solid #f00;
    border-bottom: 3px solid #f00;
    border-radius: 20px;
    margin: 20px;
    background-color: #00000090;
    height: 450px;
}
.header img {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 60%;
    z-index: 0;
}
.navbar {
    position: absolute;
    padding: 30px 40px;
    margin: -100px 0;
    padding: 0;
    z-index: 1;
}
.navbar a:not(:last-child) {
    position: absolute;
    right: 300px;
    color: #fff;
    text-decoration: none;
    margin: 0 0 0 10px;
    padding: 0 10px;
    font-size: 25px;
    transition: border 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    direction: rtl;
}
.navbar a:hover {
    border: 2px solid #fff;
}
.navbar a:last-child {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    word-spacing: 10px;
    border: 2px solid transparent;
    padding: 0 10px;
}
.box {
    margin: 100px 20px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 30px;
}
.img {
    text-align: center;
}
.img figure {
    display: inline-block;
    width: 250px;
    height: 500px;
    padding: 55px;
    margin: 20px;
    border: 3px solid #ff0;
    border-radius: 15px;
    overflow: hidden;
}
.img figure img {
    border: 2px solid #ED1B36;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
.img figure img:hover {
    transform: scale(1.1) rotate(7deg);
}
.img figure p {
    font-size: 20px;
    color: #fff;
}
.shoplink {
    text-align: center;
    margin: 50px 0;
    transition: all 0.3s ease-in-out;
}
.shoplink a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ED1B36;
    padding: 3px 30px;
    border: transparent;
    border-radius: 20px 4px;
}
.shoplink:hover {
    transform: scale(1.13);
}
.circle {
    float: right;
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    margin: 15px -10px;
    animation: flasher 1s ease-in-out infinite alternate;
}
@keyframes flasher {
    0% {
        background-color: #f00;
    }
    100% {
        background-color: transparent;
    }
}